Bot Name <br><button class="toggle1">On</button><button class="toggle2 off">Off</button><br><br>
Bot Name <br><button class="toggle1 off">On</button><button class="toggle2">Off</button>

<style>
    .toggle1, .toggle2 {
        cursor: pointer;
        color: white;
    }

    .toggle1 {
        padding: 1vh;
        background: #0cad17;
        border: 2px solid #0cad17;
    }

    .toggle2 {
        padding: 1vh;
        background: #ad0c0c;
        border: 2px solid #ad0c0c;
    }

    .toggle1.off {
        opacity: .3;
    }

    .toggle2.off {
        opacity: .4;
    }
</style>