<form>
    <label for="name">Name</label><br>
    <input type="text" name="name">
</form>


<style>
    form {
        text-align: left!important;
    }

    label {
        text-align: left;
    }

    input {
        background: rgba(255,255,255,.1);
        border: .1vh solid white;
        border-radius: .2vh;
    }
</style>