<div class="error">
    <i class="fas fa-times"></i><br><br>
    <%- message %>
</div>

<style>
    .error {
        transform: translate(-50%, 0);
        position: fixed;
        left: 50%;
        top: 10vh;
        font-size: 2vh;
        width: 38vh;
    }

    .error .fas {
        font-size: 6vh;
    }
</style>