<title>Fyre</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://branding.maniabots.xyz/new.png">
<link rel="stylesheet" href="/styles/core.scss">
<script src="https://kit.fontawesome.com/8fe5f89b2c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/scripts/router.js" async></script>
<script src="/scripts/core.js" async></script>
