<html>
    <head>
        <%- include("../../components/head.ejs") %>
        <style>
            .admin-content {
                position: absolute;
                top: 30%;
                left: 57%;
                transform: translate(-50%, -50%);
            }
        </style>

    </head>
    <body>
        <%- include("../../components/admin-nav.ejs") %>
        <div class="admin-content"></div>
    </body>
</html>