<div class="home">
    <img src="https://branding.maniabots.xyz/new2.png"><br><br>
    <h2>Fyre</h2>
    <h5>Warming up your discord server.</h5>
</div>

<style>
    .content {
        transform: translate(-50%, 0);
        position: absolute;
        left: 50%;
        top: 30vh;
    }
    .home img {
        width: 20vh;
        border-radius: 50%;
    }


    .home { font-size: 3vh; }

    h5 { margin-top: 1vh; }
</style>