<div class="home">
    <img src="https://branding.maniabots.xyz/new2.png"><br><br>
    <h3>Fyre</h2>
    <h6>Warming up your discord server.</h6>
</div>

<style>
    .content {
        transform: translate(-50%, 0);
        position: absolute;
        left: 50%;
        top: 30vh;
    }
    .home img {
        width: 15vh;
        border-radius: 50%;
    }


    .home {
        font-size: 3vh;
    }
</style>