<html>
    <head>
        <%- include("../../components/head.ejs") %>
    </head>
    <body>
        <%- include("../../components/navigation.ejs") %>

        <div class="content">
        </div>
    </body>
</html>