@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  user-select: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: white;
  text-decoration: none;
}

html, body {
  background: #121212;
}

::-webkit-scrollbar {
  float: right;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.4);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(30, 29, 29, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

section {
  width: 100%;
  position: relative;
  float: left;
}